*{
    background-image: url('https://img.freepik.com/free-photo/top-view-glazed-doughnuts-with-assortment-candy-marshmallow_23-2148423364.jpg?semt=ais_hybrid&w=740');
padding: auto;
margin: auto;
background-size: cover;
background-attachment: fixed;
background-position: center;
}
 nav{
    padding: 5px;
    border-top: 10px;
 }
 nav ul{
    padding: 0px;
    border: 2px;
    margin: 0px;
    display: flex;
    justify-content: center;

 }
nav ul li{
    display:inline-block;
    font-size: larger;
    border: 20px;
}
nav ul li a{
    color:purple;
    text-decoration: none;
    padding: 5px;
    border: 10px;
}
nav ul li a:hover{
    color: blue ;
    margin: 2px;
    padding: 2px;
    border: 2px;

}

header,p{
    background-color: blueviolet;
    margin-top: 10px;
    padding: 10px;
    border: 10px;
    background-color: yellow;
    justify-content: center;
    display: flex;
    font-size: larger;
}

.grid-container{
    display: grid;
grid-template-columns: repeat(3, 2fr); /* 3 columns */
    grid-auto-rows: auto; /* Automatically adjust row height */
    gap: 10px; /* Add spacing between items */
    text-align: center;
margin: 10px;
align-content: center;
}

.grid-container img{
        max-width: 100%;
    justify-self: center; /* Center images horizontally */
    align-self: center; /* Center images vertically */
}

.grid-container h3{
     justify-content: space-between;
    display:inline-block;}

    footer{
        margin: 20px;
        padding: 20px;
        border: 20px;
        background-color: blueviolet;
        justify-content: center;
    }
    h4{
        justify-content: center;
        margin: 20px;
        padding: 20px;
        border: 20px;
        text-align: center;
    }


button{
    justify-content: center;
}